<aside class="gKGcfW" style="position: fixed; border-right: 1px solid #e3e3e3; padding-bottom: 100%; margin-top: 40px;">
    <div class="hBHoW mt-2">
        <img src="https://salt.tikicdn.com/desktop/img/avatar.png">
        <div class="info">Tài khoản của<strong>Hung Ta</strong></div>
    </div>
    <ul class="uSLJP">
        <li>
            <a routerLink="/admin" routerLinkActive="is-active">
                <!-- Image goes here -->
                <span>Bảng điều khiển test</span>
            </a>
        </li>
        <li>
            <a routerLink="/category" routerLinkActive="is-active">
                <!-- Image goes here -->
                <span>Danh mục sách</span>
            </a>
        </li>
        <li>
            <a routerLink="/book" routerLinkActive="is-active">
                <!-- Image goes here -->
                <span>Quản lý sách</span>
            </a>
        </li>
    </ul>
</aside>