html,
body {
    height: 100%;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #111111;
    font-weight: 400;
    font-family: "Cairo", sans-serif;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
    color: #6f6f6f;
}

p {
    font-size: 16px;
    font-family: "Cairo", sans-serif;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none !important;
    outline: none;
}

ul,
ol {
    padding: 0;
    margin: 0;
}


/*---------------------
  My Account Page
-----------------------*/

.admin-panel .tab-content {
    width: 81%;
}

.admin-panel .tab-content h3 {
    position: sticky;
    top: 40px;
    z-index: 10;
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
    margin: 0 -2px;
    margin-bottom: 40px;
}

.gKGcfW {
    width: 250px;
}

.hBHoW {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 7px;
    margin: 0px 0px 12px;
}

.fIHplW {
    padding: 7px;
    font-size: 13px;
    line-height: 19px;
    background-color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(38, 188, 78);
    border: 1px solid rgb(38, 188, 78);
    border-radius: 4px;
}

.fIHplW svg {
    margin: 0px 5px 0px 0px;
}

.hBHoW img {
    width: 45px;
    margin: 0px 12px 0px 0px;
    border-radius: 50%;
}

.hBHoW .info {
    font-size: 13px;
    line-height: 15px;
    color: rgb(51, 51, 51);
    font-weight: 300;
    flex: 1 1 0%;
}

.hBHoW .info strong {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    display: block;
    margin: 4px 0px 0px;
}

.euTTxE input[type="radio"] {
    position: absolute;
    height: 1px;
    width: 1px;
    visibility: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    opacity: 0;
}

.euTTxE input[type="radio"]:checked+.radio-fake {
    border-color: rgb(13, 92, 182);
}

.euTTxE .radio-fake {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    color: rgb(120, 120, 120);
    flex-shrink: 0;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(147, 150, 157);
    border-image: initial;
    border-radius: 50%;
    margin: 10px 12px 10px 0px;
}

.gkoeQY input[type="checkbox"]:checked+.checkbox-fake {
    background-color: rgb(27, 168, 255);
    border-color: rgb(27, 168, 255);
}

.gkoeQY .checkbox-fake {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    color: rgb(120, 120, 120);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(120, 120, 120);
    border-image: initial;
    margin: 0px 12px 0px 0px;
}

.gkoeQY input[type="checkbox"]:checked+.checkbox-fake::before {
    transform: scale(1) rotate(-45deg);
}

.gkoeQY .checkbox-fake::before {
    content: "";
    display: block;
    position: absolute;
    left: 2px;
    top: 3px;
    width: 12px;
    height: 6px;
    transform: scale(0) rotate(-45deg);
    border-left: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    transition: transform 0.3s ease 0s;
}

.euTTxE .radio-fake::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 4px;
    width: 14px;
    height: 14px;
    background-color: rgb(13, 92, 182);
    transform: scale(0);
    border-radius: 50%;
    transition: transform 0.3s ease 0s;
}

.euTTxE input[type="radio"]:checked+.radio-fake::before {
    transform: scale(1);
}

.cXEDjl {
    display: flex;
}

.cXEDjl select {
    width: 100px;
    height: 34px;
    line-height: 34px;
    box-shadow: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    padding: 6px 12px;
    outline: none;
    border-radius: 4px;
    margin: 0px 12px 0px 0px;
    background: 0px center;
}

.uSLJP {
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.uSLJP a:active,
.uSLJP a:focus,
.uSLJP a.is-active {
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.uSLJP a:hover {
    opacity: 0.9;
}

.uSLJP a {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(74, 74, 74);
    padding: 7px 18px;
}

.uSLJP a svg,
.uSLJP a .icon {
    width: 24px;
    height: 24px;
    font-size: 24px;
    color: rgb(155, 155, 155);
    margin: 0px 22px 0px 0px;
}

.edAZXd {
    flex: 1 1 0%;
}

.iMmpfc {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0px auto 20px;
}

.jZJmua {
    font-size: 19px;
    line-height: 21px;
    font-weight: 300;
    margin: 20px 0px 15px;
}

.gkoeQY .label {
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: justify;
}

.euTTxE .label {
    font-size: 13px;
    line-height: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.irgDVD .btn-submit {
    width: 176px;
    height: 40px;
    color: rgb(74, 74, 74);
    font-size: 14px;
    background-color: rgb(253, 216, 53);
    cursor: pointer;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 4px;
}

.irgDVD {
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 4px;
}

.irgDVD form {
    width: 600px;
}

.irgDVD .c-form-control {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 0px 15px;
}

.irgDVD .input-label {
    width: 110px;
    min-width: 110px;
    font-size: 13px;
    color: rgb(51, 51, 51);
}

.irgDVD .c-form-control>div {
    position: relative;
    flex: 1 1 0%;
}

.irgDVD .c-form-control input {
    width: 100%;
}

.bYlDgr:focus {
    border-color: rgb(102, 175, 233);
}

.euTTxE {
    display: flex;
    margin-right: 15px;
}

.euTTxE input[type="radio"] {
    position: absolute;
    height: 1px;
    width: 1px;
    visibility: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    opacity: 0;
}

.gkoeQY {
    display: inline-block;
}

.gkoeQY input[type="checkbox"] {
    position: absolute;
    height: 1px;
    width: 1px;
    visibility: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    opacity: 0;
}


/* Login Page */

.modal-content.account-tabs button {
    margin-left: -35px;
}

#profileForm .mat-icon-button {
    margin-left: -40px;
}

.modal-content.account-tabs button.reg-btn {
    margin-left: -35px;
}

.modal-content.account-tabs .nav .active {
    color: rgb(27, 168, 255);
    border-bottom: 3px solid rgb(27, 168, 255);
}

.modal-content.account-tabs button.close {
    margin-left: 15%;
}

.kdUEwV {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    margin: -4px 0px -4px 0px;
}

.fuRqvt {
    width: 131px;
    height: 34px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    color: rgb(74, 74, 74);
    font-weight: 400;
    cursor: pointer;
    background: rgb(253, 216, 53);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 0px 4px 4px 0px;
    padding: 9px 0px;
}

.kInmCv {
    float: left;
    min-height: 600px;
    margin: 15px;
    background: rgb(255, 255, 255);
    border-radius: 0px 6px 6px 0px;
}

.famyFO {
    width: 100%;
    border-bottom: 1px solid rgb(244, 244, 244);
    overflow: hidden;
}

.bCSujG {
    float: left;
    font-size: 16px;
    width: 150px;
    text-align: center;
    margin-left: 20px;
    font-weight: 300;
    display: block;
    cursor: pointer;
    padding: 15px 5px 7px;
    text-decoration: none;
}

.cuMNQR {
    float: left;
    font-size: 16px;
    width: 150px;
    text-align: center;
    margin-left: 20px;
    font-weight: 300;
    display: block;
    cursor: pointer;
    border-bottom: 3px solid rgb(255, 255, 255);
    padding: 15px 5px 7px;
    text-decoration: none;
}

.dGmdpf {
    padding: 35px 27px;
}

.cIuUsX {
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 265px;
    color: rgb(51, 51, 51);
    font-size: 12px;
    font-weight: 400;
    margin: 0px;
    padding: 8px 20px;
    text-decoration: none;
}

.cIuUsX .icon {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 10px;
    width: 36px;
}

.cIuUsX:hover {
    background-color: rgb(245, 244, 245);
    color: rgb(0, 0, 0);
}

.cIuUsX .content {
    width: 100%;
    text-align: left;
    margin-left: 10px;
}

.hUNsqy {
    font-size: 13px;
    margin: 0px 0px 15px;
}

.hUNsqy>label {
    color: rgb(51, 51, 51);
    font-weight: 400;
    width: 75px;
    display: inline-block;
}

.irgDVD .form-control>div {
    display: flex;
    position: relative;
    z-index: 1;
    flex: 1 1 0%;
}

.hUNsqy input[type^="text"],
.hUNsqy input[type^="password"] {
    width: calc(100% - 5px);
}

.irgDVD .input-label span {
    font-size: 11px;
    display: block;
    margin: 5px 0px 0px;
}

.bYlDgr {
    font-size: 13px;
    height: 34px;
    line-height: 34px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    border-radius: 4px;
    padding: 6px 12px;
    outline: none;
}

.dGmdpf .forgot-password {
    font-size: 12px;
    margin: 20px 0px 30px;
}

.GBpke {
    color: rgb(74, 74, 74);
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
    user-select: none;
    margin-bottom: 15px;
    width: 100%;
    height: 41px;
    line-height: 41px;
    background: rgb(253, 216, 53);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    padding: 0px;
    border-radius: 4px;
    outline: none;
}

.account-btn:hover,
.c-form-control button:hover {
    opacity: 0.85;
}

.jxznff {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
    user-select: none;
    margin-bottom: 15px;
    width: 100%;
    height: 41px;
    line-height: 41px;
    color: rgb(255, 255, 255);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    padding: 0px;
    border-radius: 4px;
    outline: none;
    background: rgb(15, 142, 221);
}