<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="navigator">
                    <a style="cursor: pointer;">Trang chủ</a> <i class="fa fa-angle-right"></i>
                    <a style="cursor: pointer;">Thông tin cá nhân</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<div class="account-info-section">
    <div class="container">
        <div class="iMmpfc">
            <aside class="gKGcfW">
                <div class="hBHoW"><img src="https://salt.tikicdn.com/desktop/img/avatar.png">
                    <div class="info">Tài khoản của<strong>Hung Ta</strong></div>
                </div>
                <ul class="uSLJP nav" id="myTab" role="tablist">
                    <li>
                        <a class="{{ page === 'profile' ? 'is-active' : '' }}" id="my-account-tab" data-toggle="tab"
                            href="#my-account" role="tab" aria-selected="true">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z">
                                </path>
                            </svg><span>Thông tin tài khoản</span></a>
                    </li>
                    <li><a class="" href="/customer/notification"><svg stroke="currentColor" fill="currentColor"
                                stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z">
                                </path>
                            </svg><span>Thông báo của tôi</span>
                        </a>
                    </li>
                    <li>
                        <a id="my-order-tab" data-toggle="tab" href="#my-order" role="tab" aria-selected="false">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13 12h7v1.5h-7zm0-2.5h7V11h-7zm0 5h7V16h-7zM21 4H3c-1.1 0-2 .9-2 2v13c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 15h-9V6h9v13z">
                                </path>
                            </svg><span>Quản lý đơn hàng</span>
                        </a>
                    </li>
                    <li><a class="" href="/customer/address"><svg stroke="currentColor" fill="currentColor"
                                stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z">
                                </path>
                            </svg><span>Sổ địa chỉ</span>
                        </a>
                    </li>
                    <li><a class="" href="/customer/paymentcard"><svg stroke="currentColor" fill="currentColor"
                                stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M20 4H4c-1.11 0-1.99.89-1.99 2L2 18c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V6c0-1.11-.89-2-2-2zm0 14H4v-6h16v6zm0-10H4V6h16v2z">
                                </path>
                            </svg><span>Thông tin thanh toán </span>
                        </a>
                    </li>
                    <li>
                        <a href="/nhan-xet-san-pham-ban-da-mua"><img class="icon"
                                src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/review-2.svg"><span>Nhận
                                xét sản phẩm đã mua</span></a>
                    </li>
                    <li><a href="/danh-rieng-cho-ban"><svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z">
                                </path>
                            </svg><span>Sản phẩm bạn đã xem</span></a></li>
                    <li><a class="" href="/customer/wishlist"><svg stroke="currentColor" fill="currentColor"
                                stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z">
                                </path>
                            </svg><span>Sản phẩm yêu thích</span></a></li>

                    <li><a class="" href="/customer/review"><svg stroke="currentColor" fill="currentColor"
                                stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4V6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z">
                                </path>
                            </svg><span>Nhận xét của tôi</span></a></li>

                    <li>
                        <a class="" href="/customer/coupons"><img class="icon"
                                src="https://frontend.tikicdn.com/_desktop-next/static/img/mycoupon/coupon_code.svg"><span>Mã
                                giảm giá</span></a>
                    </li>
                    <li>
                        <a href="/customer/reward" class=""><img class="icon"
                                srcset="https://salt.tikicdn.com/ts/upload/b5/33/14/09096979a40d25a2ad3976e3809ceb78.png 2x, https://salt.tikicdn.com/ts/upload/4a/d4/da/77fe4fd0c771088f7794ba3ce66782eb.png 1x"><span>Quản
                                lý Huta Xu của tôi</span></a>
                    </li>

                </ul>
            </aside>
            <div class="tab-content" id="myTabContent">
                <div class="edAZXd tab-pane fade {{ page === 'profile' ? 'active show' : '' }}" id="my-account"
                    role="tabpanel" aria-labelledby="my-account-tab">
                    <h3 class="jZJmua">Thông tin tài khoản</h3>
                    <div class="irgDVD">
                        <form>
                            <div class="c-form-control "><label class="input-label">Họ tên</label>
                                <div>
                                    <input type="text" name="fullName" maxlength="128" class="bYlDgr"
                                        value="{{user.customer.fullName}}" placeholder="Nhập họ tên">
                                </div>
                            </div>
                            <div class="c-form-control ">
                                <label class="input-label">Số điện thoại</label>
                                <div>
                                    <input type="tel" name="phoneNumber"
                                        placeholder="Hãy nhập SĐT để trải nghiệm tốt hơn" class="bYlDgr"
                                        value="{{user.phoneNumber}}" [disabled]="user.phoneNumber">
                                </div>
                            </div>
                            <div class="c-form-control">
                                <label class="input-label">Email</label>
                                <input type="text" class="bYlDgr" value="{{user.email}}" placeholder="Nhập email"
                                    disabled>
                            </div>
                            <div class="c-form-control">
                                <label class="input-label">Giới tính</label>
                                <label class="euTTxE">
                                    <input type="radio" name="gender" value="male"
                                        [checked]="user.customer.gender === 'male'">
                                    <span class="radio-fake"></span>
                                    <span class="label">Nam</span>
                                </label>
                                <label class="euTTxE">
                                    <input type="radio" name="gender" value="female"
                                        [checked]="user.customer.gender === 'female'">
                                    <span class="radio-fake"></span>
                                    <span class="label">Nữ</span>
                                </label>
                            </div>
                            <div class="c-form-control">
                                <label class="input-label">Ngày sinh

                                </label>

                                <input type="text" id="birthday" name="birthday" placeholder="Nhập ngày sinh"
                                    class="bYlDgr" value="{{user.customer.birthday |  date: 'dd/MM/yyyy'}}">

                            </div>

                            <div class="c-form-control">
                                <label class="input-label">&nbsp;</label>
                                <label class="gkoeQY">
                                    <input type="checkbox">
                                    <span class="checkbox-fake"></span>
                                    <span class="label">Thay đổi mật khẩu</span>
                                </label>
                            </div>

                            <div class="c-form-control ">
                                <label class="input-label">Mật khẩu cũ</label>
                                <div>
                                    <input type="password" required="" name="oldPassword" placeholder="Nhập mật khẩu cũ"
                                        class="bYlDgr" value="" disabled>
                                </div>
                            </div>
                            <div class="c-form-control ">
                                <label class="input-label">Mật khẩu mới</label>
                                <div>
                                    <input type="password" required="" name="password"
                                        placeholder="Mật khẩu từ 6 đến 32 ký tự" class="bYlDgr" value="" disabled>
                                </div>
                            </div>
                            <div class="c-form-control ">
                                <label class="input-label">Nhập lại</label>
                                <div>
                                    <input type="password" required="" name="passwordConfirm"
                                        placeholder="Nhập lại mật khẩu mới" class="bYlDgr" value="" disabled>
                                </div>
                            </div>
                            <div class="c-form-control">
                                <label class="input-label">&nbsp;</label>
                                <button type="submit" class="btn-submit">Cập nhật</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="edAZXd tab-pane fade" id="my-order" role="tabpanel" aria-labelledby="my-order-tab">
                    ...
                </div>

            </div>
        </div>
    </div>
</div>