<h3 class="jZJmua">Danh mục sản phẩm</h3>
<div class="irgDVD">
    <button routerLink="/category/new" class="btn btn-primary d-block ml-auto mb-2 btn-sm">Thêm danh mục</button>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-sm text-center">
                <thead>
                    <tr>
                        <th style="width: 10%">ID</th>
                        <th style="width: 30%">Hình ảnh</th>
                        <th style="width: 40%">Tên danh mục</th>
                        <th style="width: 20%">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Marksssssssss</td>
                        <td>Ottosssssssssssssg</td>
                        <td>
                            <a title="Danh mục con" class="btn btn-outline-success btn-sm mr-1"><i
                                    class="fa fa-list-alt"></i></a>
                            <a title="Sửa" class="btn btn-outline-secondary btn-sm mr-1"><i
                                    class="fa fa-pencil"></i></a>
                            <a title="Xóa" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>
                            <a title="Danh mục con" class="btn btn-outline-success btn-sm mr-1"><i
                                    class="fa fa-list-alt"></i></a>
                            <a title="Sửa" class="btn btn-outline-secondary btn-sm mr-1"><i
                                    class="fa fa-pencil"></i></a>
                            <a title="Xóa" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>