<h3 class="jZJmua text-center">{{editMode ? 'Cập nhật' : 'Thêm'}} danh mục sản phẩm</h3>
<div class="irgDVD">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-2">
                <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="name">Tên danh mục</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Nhập tên danh mục" formControlName="name">
                    </div>
                    <div class="form-group">
                        <label for="image">URL hình ảnh</label>
                        <input type="text" class="form-control" name="imageUrl" id="imageUrl" placeholder="Nhập địa chỉ hình ảnh" #imageUrl formControlName="imageUrl">
                        <img [src]="imageUrl.value" class="img-fluid rounded mx-auto d-block mt-3 img-thumbnail">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">{{editMode ? 'Cập nhật' : 'Thêm'}}</button>
                        <button routerLink="{{editMode ? '../../' : '../'}}" type="submit" class="btn btn-secondary ml-2">Hủy bỏ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>