<!-- Banner Section Start -->
<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-3">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item hero__item active set-bg" data-setbg="../assets/img/banner1.jpg">
                            <!-- <div class="hero__text">
                              <span>Danh mục giảm giá</span>
                              <p>Miễn phí giao hàng</p>
                              <a href="#" class="primary-btn">Mua ngay</a>
                          </div> -->
                        </div>
                        <div class="carousel-item hero__item set-bg" data-setbg="../assets/img/banner2.jpg">
                            <!-- <div class="hero__text">
                              <span>Danh mục giảm giá</span>
                              <p>Miễn phí giao hàng</p>
                              <a href="#" class="primary-btn">Mua ngay</a>
                          </div> -->
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3">
                    <a href="https://tiki.vn/buoc-cham-lai-giua-the-gian-voi-va-tai-ban-p3639597.html?src=personalization" title="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="Item__Wrapper-m1oy8w-0 cptBMA">
                        <div class="Item__Picture-m1oy8w-1 evEsoa"><img src="https://salt.tikicdn.com/cache/280x280/ts/product/7a/18/8e/2f70de3ea7eec9c34f55e402254e27ed.jpg" alt="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="LazyLoadImage__Wrapper-sc-12s4rj6-0 dqgcDn" style="width: auto; height: 100%; opacity: 1;"></div>
                        <p class="title" style="height: 40px;">Sách giáo khoa</p>

                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="https://tiki.vn/buoc-cham-lai-giua-the-gian-voi-va-tai-ban-p3639597.html?src=personalization" title="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="Item__Wrapper-m1oy8w-0 cptBMA">
                        <div class="Item__Picture-m1oy8w-1 evEsoa"><img src="../assets/img/book/babylon_front.jpg" alt="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="LazyLoadImage__Wrapper-sc-12s4rj6-0 dqgcDn" style="width: auto; height: 100%; opacity: 1;"></div>
                        <p class="title" style="height: 40px;">Sách văn học</p>

                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="https://tiki.vn/buoc-cham-lai-giua-the-gian-voi-va-tai-ban-p3639597.html?src=personalization" title="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="Item__Wrapper-m1oy8w-0 cptBMA">
                        <div class="Item__Picture-m1oy8w-1 evEsoa"><img src="../assets/img/book/kan_front.jpg" alt="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="LazyLoadImage__Wrapper-sc-12s4rj6-0 dqgcDn" style="width: auto; height: 100%; opacity: 1;"></div>
                        <p class="title" style="height: 40px;">Sách văn học</p>

                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="https://tiki.vn/buoc-cham-lai-giua-the-gian-voi-va-tai-ban-p3639597.html?src=personalization" title="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="Item__Wrapper-m1oy8w-0 cptBMA">
                        <div class="Item__Picture-m1oy8w-1 evEsoa"><img src="../assets/img/book/kan_front.jpg" alt="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="LazyLoadImage__Wrapper-sc-12s4rj6-0 dqgcDn" style="width: auto; height: 100%; opacity: 1;"></div>
                        <p class="title" style="height: 40px;">Sách kỹ năng</p>

                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="https://tiki.vn/buoc-cham-lai-giua-the-gian-voi-va-tai-ban-p3639597.html?src=personalization" title="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="Item__Wrapper-m1oy8w-0 cptBMA">
                        <div class="Item__Picture-m1oy8w-1 evEsoa"><img src="https://salt.tikicdn.com/cache/280x280/ts/product/7a/18/8e/2f70de3ea7eec9c34f55e402254e27ed.jpg" alt="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="LazyLoadImage__Wrapper-sc-12s4rj6-0 dqgcDn" style="width: auto; height: 100%; opacity: 1;"></div>
                        <p class="title" style="height: 40px;">Sách lập trình</p>

                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Featured Section Begin -->
<section class="featured">
    <div class="container">
        <div class="row section-header">
            <div class="col-lg-12">
                <div class="section-title">
                    <h4>Sách bán chạy</h4>
                    <a style="color: rgb(24, 158, 255); cursor: pointer;">Xem thêm <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="https://tiki.vn/buoc-cham-lai-giua-the-gian-voi-va-tai-ban-p3639597.html?src=personalization" title="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="Item__Wrapper-m1oy8w-0 cptBMA">
                    <div class="Item__Picture-m1oy8w-1 evEsoa"><img src="https://salt.tikicdn.com/cache/280x280/ts/product/7a/18/8e/2f70de3ea7eec9c34f55e402254e27ed.jpg" alt="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="LazyLoadImage__Wrapper-sc-12s4rj6-0 dqgcDn" style="width: auto; height: 100%; opacity: 1;"></div>
                    <p class="title" style="height: 40px;">Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)</p>
                    <p class="price">51.000 ₫<span class="percent ">-40%</span><span class="original ">85.000
                            ₫</span></p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" title="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="Item__Wrapper-m1oy8w-0 cptBMA">
                    <div class="Item__Picture-m1oy8w-1 evEsoa"><img src="../assets/img/book/babylon_front.jpg" alt="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="LazyLoadImage__Wrapper-sc-12s4rj6-0 dqgcDn" style="width: auto; height: 100%; opacity: 1;"></div>
                    <p class="title" style="height: 40px;">Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)</p>
                    <p class="price">51.000 ₫<span class="percent ">-40%</span><span class="original ">85.000
                            ₫</span></p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="https://tiki.vn/buoc-cham-lai-giua-the-gian-voi-va-tai-ban-p3639597.html?src=personalization" title="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="Item__Wrapper-m1oy8w-0 cptBMA">
                    <div class="Item__Picture-m1oy8w-1 evEsoa"><img src="../assets/img/book/babylon_front.jpg" alt="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="LazyLoadImage__Wrapper-sc-12s4rj6-0 dqgcDn" style="width: auto; height: 100%; opacity: 1;"></div>
                    <p class="title" style="height: 40px;">Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)</p>
                    <p class="price">51.000 ₫<span class="percent ">-40%</span><span class="original ">85.000
                            ₫</span></p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="https://tiki.vn/buoc-cham-lai-giua-the-gian-voi-va-tai-ban-p3639597.html?src=personalization" title="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="Item__Wrapper-m1oy8w-0 cptBMA">
                    <div class="Item__Picture-m1oy8w-1 evEsoa"><img src="../assets/img/book/babylon_front.jpg" alt="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="LazyLoadImage__Wrapper-sc-12s4rj6-0 dqgcDn" style="width: auto; height: 100%; opacity: 1;"></div>
                    <p class="title" style="height: 40px;">Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)</p>
                    <p class="price">51.000 ₫<span class="percent ">-40%</span><span class="original ">85.000
                            ₫</span></p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="https://tiki.vn/buoc-cham-lai-giua-the-gian-voi-va-tai-ban-p3639597.html?src=personalization" title="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="Item__Wrapper-m1oy8w-0 cptBMA">
                    <div class="Item__Picture-m1oy8w-1 evEsoa"><img src="../assets/img/book/babylon_front.jpg" alt="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="LazyLoadImage__Wrapper-sc-12s4rj6-0 dqgcDn" style="width: auto; height: 100%; opacity: 1;"></div>
                    <p class="title" style="height: 40px;">Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)</p>
                    <p class="price">51.000 ₫<span class="percent ">-40%</span><span class="original ">85.000
                            ₫</span></p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="https://tiki.vn/buoc-cham-lai-giua-the-gian-voi-va-tai-ban-p3639597.html?src=personalization" title="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="Item__Wrapper-m1oy8w-0 cptBMA">
                    <div class="Item__Picture-m1oy8w-1 evEsoa"><img src="../assets/img/book/babylon_front.jpg" alt="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="LazyLoadImage__Wrapper-sc-12s4rj6-0 dqgcDn" style="width: auto; height: 100%; opacity: 1;"></div>
                    <p class="title" style="height: 40px;">Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)</p>
                    <p class="price">51.000 ₫<span class="percent ">-40%</span><span class="original ">85.000
                            ₫</span></p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="https://tiki.vn/buoc-cham-lai-giua-the-gian-voi-va-tai-ban-p3639597.html?src=personalization" title="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="Item__Wrapper-m1oy8w-0 cptBMA">
                    <div class="Item__Picture-m1oy8w-1 evEsoa"><img src="../assets/img/book/kan_front.jpg" alt="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="LazyLoadImage__Wrapper-sc-12s4rj6-0 dqgcDn" style="width: auto; height: 100%; opacity: 1;"></div>
                    <p class="title" style="height: 40px;">Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)</p>
                    <p class="price">51.000 ₫<span class="percent ">-40%</span><span class="original ">85.000
                            ₫</span></p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="https://tiki.vn/buoc-cham-lai-giua-the-gian-voi-va-tai-ban-p3639597.html?src=personalization" title="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="Item__Wrapper-m1oy8w-0 cptBMA">
                    <div class="Item__Picture-m1oy8w-1 evEsoa"><img src="../assets/img/book/babylon_front.jpg" alt="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="LazyLoadImage__Wrapper-sc-12s4rj6-0 dqgcDn" style="width: auto; height: 100%; opacity: 1;"></div>
                    <p class="title" style="height: 40px;">Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)</p>
                    <p class="price">51.000 ₫<span class="percent ">-40%</span><span class="original ">85.000
                            ₫</span></p>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Featured Section End -->

<!-- Featured Section Begin -->
<section class="featured">
    <div class="container">
        <div class="row section-header">
            <div class="col-lg-12">
                <div class="section-title">
                    <h4>Sách văn học mới</h4>
                    <a style="color: rgb(24, 158, 255); cursor: pointer;">Xem thêm <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="https://tiki.vn/buoc-cham-lai-giua-the-gian-voi-va-tai-ban-p3639597.html?src=personalization" title="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="Item__Wrapper-m1oy8w-0 cptBMA">
                    <div class="Item__Picture-m1oy8w-1 evEsoa"><img src="https://salt.tikicdn.com/cache/280x280/ts/product/7a/18/8e/2f70de3ea7eec9c34f55e402254e27ed.jpg" alt="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="LazyLoadImage__Wrapper-sc-12s4rj6-0 dqgcDn" style="width: auto; height: 100%; opacity: 1;"></div>
                    <p class="title" style="height: 40px;">Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)</p>
                    <p class="price">51.000 ₫<span class="percent ">-40%</span><span class="original ">85.000
                            ₫</span></p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" title="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="Item__Wrapper-m1oy8w-0 cptBMA">
                    <div class="Item__Picture-m1oy8w-1 evEsoa"><img src="../assets/img/book/babylon_front.jpg" alt="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="LazyLoadImage__Wrapper-sc-12s4rj6-0 dqgcDn" style="width: auto; height: 100%; opacity: 1;"></div>
                    <p class="title" style="height: 40px;">Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)</p>
                    <p class="price">51.000 ₫<span class="percent ">-40%</span><span class="original ">85.000
                            ₫</span></p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="https://tiki.vn/buoc-cham-lai-giua-the-gian-voi-va-tai-ban-p3639597.html?src=personalization" title="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="Item__Wrapper-m1oy8w-0 cptBMA">
                    <div class="Item__Picture-m1oy8w-1 evEsoa"><img src="../assets/img/book/babylon_front.jpg" alt="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="LazyLoadImage__Wrapper-sc-12s4rj6-0 dqgcDn" style="width: auto; height: 100%; opacity: 1;"></div>
                    <p class="title" style="height: 40px;">Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)</p>
                    <p class="price">51.000 ₫<span class="percent ">-40%</span><span class="original ">85.000
                            ₫</span></p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="https://tiki.vn/buoc-cham-lai-giua-the-gian-voi-va-tai-ban-p3639597.html?src=personalization" title="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="Item__Wrapper-m1oy8w-0 cptBMA">
                    <div class="Item__Picture-m1oy8w-1 evEsoa"><img src="../assets/img/book/babylon_front.jpg" alt="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="LazyLoadImage__Wrapper-sc-12s4rj6-0 dqgcDn" style="width: auto; height: 100%; opacity: 1;"></div>
                    <p class="title" style="height: 40px;">Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)</p>
                    <p class="price">51.000 ₫<span class="percent ">-40%</span><span class="original ">85.000
                            ₫</span></p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="https://tiki.vn/buoc-cham-lai-giua-the-gian-voi-va-tai-ban-p3639597.html?src=personalization" title="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="Item__Wrapper-m1oy8w-0 cptBMA">
                    <div class="Item__Picture-m1oy8w-1 evEsoa"><img src="../assets/img/book/babylon_front.jpg" alt="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="LazyLoadImage__Wrapper-sc-12s4rj6-0 dqgcDn" style="width: auto; height: 100%; opacity: 1;"></div>
                    <p class="title" style="height: 40px;">Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)</p>
                    <p class="price">51.000 ₫<span class="percent ">-40%</span><span class="original ">85.000
                            ₫</span></p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="https://tiki.vn/buoc-cham-lai-giua-the-gian-voi-va-tai-ban-p3639597.html?src=personalization" title="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="Item__Wrapper-m1oy8w-0 cptBMA">
                    <div class="Item__Picture-m1oy8w-1 evEsoa"><img src="../assets/img/book/babylon_front.jpg" alt="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="LazyLoadImage__Wrapper-sc-12s4rj6-0 dqgcDn" style="width: auto; height: 100%; opacity: 1;"></div>
                    <p class="title" style="height: 40px;">Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)</p>
                    <p class="price">51.000 ₫<span class="percent ">-40%</span><span class="original ">85.000
                            ₫</span></p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="https://tiki.vn/buoc-cham-lai-giua-the-gian-voi-va-tai-ban-p3639597.html?src=personalization" title="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="Item__Wrapper-m1oy8w-0 cptBMA">
                    <div class="Item__Picture-m1oy8w-1 evEsoa"><img src="../assets/img/book/kan_front.jpg" alt="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="LazyLoadImage__Wrapper-sc-12s4rj6-0 dqgcDn" style="width: auto; height: 100%; opacity: 1;"></div>
                    <p class="title" style="height: 40px;">Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)</p>
                    <p class="price">51.000 ₫<span class="percent ">-40%</span><span class="original ">85.000
                            ₫</span></p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="https://tiki.vn/buoc-cham-lai-giua-the-gian-voi-va-tai-ban-p3639597.html?src=personalization" title="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="Item__Wrapper-m1oy8w-0 cptBMA">
                    <div class="Item__Picture-m1oy8w-1 evEsoa"><img src="../assets/img/book/babylon_front.jpg" alt="Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)" class="LazyLoadImage__Wrapper-sc-12s4rj6-0 dqgcDn" style="width: auto; height: 100%; opacity: 1;"></div>
                    <p class="title" style="height: 40px;">Bước Chậm Lại Giữa Thế Gian Vội Vã (Tái Bản)</p>
                    <p class="price">51.000 ₫<span class="percent ">-40%</span><span class="original ">85.000
                            ₫</span></p>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Featured Section End -->